{{#each suggestions as |suggestion|}}

  <div class="suggestion my-2 border">
    <h2 class="font-weight-bold">{{suggestion.user_info}} suggested: </h2>
    <h2 data-id="{{suggestion.id}}">"{{suggestion.text}}"</h2>
  </div>

{{/each}}
