@import '~bootstrap/scss/bootstrap';
@import 'shapes';

body {}

#brain-age-icon {
  margin-left: 2rem;
  height: inherit;
  width: 3rem;
}

#content {
  width: 90%;
  padding: 2% 0;
  background-color: AliceBlue;
}

#game-title {
  font-size: 2rem;
}

#game-display {
  flex-wrap: wrap;
  height: 30vh;
  background-color: white;
  border: 5px solid black;
}

.heart {
  height: 50px;
  width: 50px;
}

#info-container {}

textarea {
  max-width: 100%;
  font-size: 24px;
}

input[type="number"] {
  height: 2rem;
  width: 4rem;
  font-size: 24px;
}

#game-page {
  display: flex;
  justify-content: center;
  background-size: cover;
  background-image: url("/public/images/background.jpg");
  height: 95vh;
}

#suggestions-page {
  display: none;
  justify-content: center;
  background: black;
  background-size: cover;
  background-image: url("/public/images/background.jpg");
  height: 95vh;
}

#suggestions-content {
  width: 90%;
  padding: 2% 0;
  display: flex;
  flex-direction: row;
  background-color: AliceBlue;
}

#navbar {
  height: 5vh;
  display: flex;
  flex-direction: row;
}

.submit-score {
  width: 200px;
  height: 50px;
}

.option {
  width: 15%;
  height: 5vh;
  font-size: 20px;
}

#game-options-container {
  display: flex;
  justify-content: space-around;
}

#scores {
  max-height: 50vh;
  overflow: auto;
}