@import '~bootstrap/scss/bootstrap';
@import 'shapes';

body {
  background-color: grey;
}

#game-display {
  flex-wrap: wrap;
  height: 30vh;
  width: 100vw;
  background-color: white;
  border: 5px solid black;
}

.heart {
  height: 50px;
  width: 50px;
}

button {
  width: 300px;
  height: 200px;
  margin: 1rem;
  font-size: 2rem;
}

.submit-score {
  width: 200px;
  height: 50px;
}
// .textarea {
//   height: 2rem;
//   width: 1rem;
// }