@import '~bootstrap/scss/bootstrap';
@import 'shapes';

body {
  height: 100vh;
  display: none;
}

#brain-age-icon {
  margin-left: 2rem;
  height: inherit;
  width: 3rem;
}

.error {
  color: red;
  font-weight: bold;
  background-color: white;
}

.error-toggle {
  font-weight: bold;
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
}

.footer {
  position: fixed;
  height: 50px;
  bottom: 0;
  left: 0;
  background-color: black;
  color: white;
  width: 100vw;

  & > * {
    text-align: center;
    text-decoration: none;
    color: white;
  }

  & > *:hover {
    color: blue;
    text-decoration: none;
    cursor: pointer;
  }
}

#game-content {
  width: 90%;
  padding: 100px 0;
  background-color: AliceBlue;
  background-repeat: repeat;
}

#game-title {
  font-size: 2rem;
}

#game-display {
  flex-wrap: wrap;
  height: 40vh;
  background-color: white;
  border: 1px solid black;
}

#game-options-container {
  display: flex;
  justify-content: space-around;
}

#game-display-text:hover {
  color: black;
}

#game-description-text {
  max-height: 135px;
  overflow: auto;
}

#game-page {
  display: flex;
  justify-content: center;
  background-size: cover;
  background-repeat: repeat;
  background: #ccc;
  margin-bottom: 50px;
  min-height: calc(100vh - 100px);
}

#game-welcome {
  font-family: 'Helvetica';
  font-weight: bold;
}

.heart {
  height: 50px;
  width: 50px;
}

#info-container {
}

input[type='number'] {
  height: 2rem;
  width: 4rem;
  font-size: 24px;
}

.game {
  border-bottom: 1px solid DarkSlateGrey;

  &:hover {
    background-color: rgba(0, 128, 128, 0.5);
  }
}

#mycanvas {
  max-height: 75vh;
}

#navbar {
  height: 50px;
  display: flex;
  flex-direction: row;
}

.option {
  font-size: 20px;
}

.overflow-x-auto {
  overflow-x: auto;
}

.page-toggle-button:hover {
  background-color: DarkBlue;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

#preview-image {
  display: none;
}

#scores {
  max-height: 50vh;
  overflow: auto;
}

#stats-page {
  display: flex;
  justify-content: center;
  background: DarkSlateGrey;
  justify-content: center;
  background-repeat: repeat;
  background-size: cover;
  min-height: calc(100vh - 100px);
}

#stats-container {
  display: none;
  max-height: 100%;
  width: 90%;
  padding: 2% 0;
  display: flex;
  flex-direction: row;
  background-color: AliceBlue;
  background-repeat: repeat;
  overflow: auto;
}

.success {
  display: flex;
  color: white;
  background-color: rgba(0, 255, 0, 0.5);
  font-weight: bold;
  text-align: center;
}

.suggestion {
  background-color: DarkSlateGrey;
  color: white;
}

.suggestion:hover {
  background-color: white;
  color: DarkSlateGrey;

  & > * {
    background-color: white;
    color: DarkSlateGrey;
  }
}

#suggestions-page {
  display: none;
  justify-content: center;
  background: black;
  background-repeat: repeat;
  background-size: cover;
  min-height: calc(100vh - 100px);
}

#suggestions-content {
  max-height: 100%;
  width: 90%;
  padding: 2% 0;
  display: flex;
  flex-direction: row;
  background-color: AliceBlue;
  background-repeat: repeat;
  overflow: auto;
}

#suggestions-container {
  width: 100%;
}

#suggestions {
  padding: 5%;
}

.suggestion-text {
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.submit-score {
  width: 200px;
  height: 50px;
}

#toggle-page-title {
  font-size: 2rem;
  font-weight: bold;
}

textarea {
  max-width: 100%;
  font-size: 24px;
}

.question-math-item {
  font-size: 3rem;
}

#undo-delete-button {
  display: none;
}

#user-handle {
  font-size: 2rem;
  font-weight: bold;
}

#window {
  opacity: 1;
  transition: 0.1s;
  transition-timing-function: ease-in-out;
}
