.shape {
  height: 200px;
  width: 200px;
}

#triangle {
  height: 200px;
  width: 200px;
}

#square {
  height: 200px;
  width: 200px;
}

#pentagon {
  height: 200px;
  width: 200px;
}

#pentagon:before {
  height: 200px;
  width: 200px;
}

#hexagon {
  height: 200px;
  width: 200px;
}

#heptagon {
  height: 200px;
  width: 200px;
}

#octagon {
  height: 200px;
  width: 200px;
}